name: Worflow Demo Environment Variables

on:
  workflow_dispatch:

env:
  WORKFLOW_VAR: I_AM_WORKFLOW_SCOPED

jobs:
  job-1:
    runs-on: ubuntu-24.04
    env:
      JOB_VAR: I_AM_JOB_1_SCOPED
    steps:
      - name: Inspect scopes job 1 step 1
        env:
          STEP_VAR: I_AM_JOB_1_STEP_1_SCOPED
        run: |
          echo "WORKFLOW_VAR:  ${WORKFLOW_VAR:-<UNSET>}  -> this should be visible"
          echo "JOB_VAR:       ${JOB_VAR:-<UNSET>}       -> this should be visible"
          echo "STEP_VAR:      ${STEP_VAR:-<UNSET>}      -> this should be visible"

      - name: Inspect scopes job 1 step 2
        run: |
          echo "WORKFLOW_VAR:  ${WORKFLOW_VAR:-<UNSET>}  -> this should be visible"
          echo "JOB_VAR:       ${JOB_VAR:-<UNSET>}       -> this should be visible"
          echo "STEP_VAR:      ${STEP_VAR:-<UNSET>}      -> this should be UNSET"

  job-2:
    runs-on: ubuntu-24.04
    steps:
      - name: Inspect scopes of job 2
        run: |
          echo "WORKFLOW_VAR:  ${WORKFLOW_VAR:-<UNSET>}  -> this should be visible"
          echo "JOB_VAR:       ${FOO:-<UNSET>}           -> this should be UNSET"
          echo "STEP_VAR:      ${STEP_VAR:-<UNSET>}      -> this should be UNSET"
